.content {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.info-container ul li {
  display: flex;
}

.info-container ul li strong {
  margin-right: 5px;
}

.articles-list {
  width: 80%;
}

.articles-list ul li {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px;
  border-radius: 3px;
  background-color: white;
  border: var(--border);
}
